<div *ngIf="collection">
    <app-toggle (changeState)="toggleState($event)"></app-toggle>
    <app-tables-titles [tableNames]="tableNames" [production]="production"></app-tables-titles> 
    <app-table [tableName]='tableName'
            [collection]='collection'
            [columnsNames] = 'columnsNames'
            [columnsTypes] = 'columnsTypes'
            [columnsWidths] = 'columnsWidths'></app-table>
    <app-paginator></app-paginator>
    <app-records-selector [numberOfRecords]="numberOfRecords"></app-records-selector>
</div>
<div *ngIf="!collection && !error" class = " w-100" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<app-alert *ngIf="error" 
            message ="An error has ocurred while loading the data." 
            (close)="onHandleError()">
</app-alert>

