<div *ngIf="collection">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 addMargin">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches" (click) = "toggleState()">
                    <label class="custom-control-label" for="customSwitches" ><h5  [innerHTML]="production?'Production Mode':'Test Mode'"></h5></label>
                  </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item" *ngFor="let table of tableNames, let i = index">
                <a class="nav-link" [ngClass]='{active: selectedTable == i}' (click)="changeTable(i)">{{ table | titlecase }}</a>
                </li>
            </ul>
        </div>
    </div>
    <app-table [tableName]='tableName'
            [collection]='collection'
            [columnsNames] = 'columnsNames'
            [columnsTypes] = 'columnsTypes'
            [columnsWidths] = 'columnsWidths'></app-table>
    <div class="container">
        <div class="row text-center">
            <div id="pagination" class="w-100">
                <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls> 
            </div>
        </div>  
    </div>
    <div class="addMargin container">
        <div class="row text-right">
            <div class="col-xs-12 d-inline w-100">
                <label for="numberOfRecords" class="d-inline">Select the number of records to show: </label>
                <select class="d-inline" name="numberOfRecords" id="numberOfRecords" (change) = "changeValue($event)">
                    <option *ngFor="let val of numberOfRecords" [value]="val">{{ val }}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row  w-100">
    <div class="col-xs-12 w-100">
        <div *ngIf="!collection && !error" class = " w-100" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
    </div>
</div>

<app-alert *ngIf="error" message ="An error has ocurred while loading the data." (close)="onHandleError()"></app-alert>

