<div *ngIf="collection">
    <app-toggle (changeState)="toggleState($event)"></app-toggle>
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item" *ngFor="let table of tableNames, let i = index">
                <a class="nav-link" [ngClass]='{active: table == tableName}' 
                (click)="changeTable(i)">
                {{ table | titlecase }}
                </a>
                </li>
            </ul>
        </div>
    </div>
    <app-table [tableName]='tableName'
            [collection]='collection'
            [columnsNames] = 'columnsNames'
            [columnsTypes] = 'columnsTypes'
            [columnsWidths] = 'columnsWidths'></app-table>
    <app-paginator></app-paginator>
    <app-records-selector [numberOfRecords]="numberOfRecords"></app-records-selector>
</div>
<div *ngIf="!collection && !error" class = " w-100" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<app-alert *ngIf="error" 
            message ="An error has ocurred while loading the data." 
            (close)="onHandleError()">
</app-alert>

