<div class="container" >
	<div class="row">
        <table class="table table-striped table-hover addMargin">
            <thead>
                <tr>
                    <th>#</th>					
                    <th *ngFor="let header of columnsNames,let i=index" [style.width.%]="columnsWidths[i]">
                            {{ header | titlecase }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of collection | paginate:{itemsPerPage: recordsPerColum, currentPage:p}, let j = index">
                    <td><b>{{ (j+1)+(p-1)*recordsPerColum }}</b></td>					
                    <td *ngFor="let header of columnsNames, let i = index" 
                    [ngSwitch]='columnsTypes[i]'>  
                    <!-- Switching on the type of each column to apply the correct pipe and format -->
                        <p *ngSwitchCase="'date'">{{ item[header] | date}}</p>
                        <p *ngSwitchCase="'currency'">{{ item[header] | currency}}</p>
                        <p *ngSwitchCase="'percent'">{{ item[header] | percent}}</p>
                        <p *ngSwitchCase="'number'">{{ item[header] | number}}</p>
                        <input *ngSwitchCase="'boolean'" 
                                type="checkbox" class="editor-active" 
                                onclick="return false;" [checked]='item[header]'>
                        <p *ngSwitchDefault>{{ item[header] }}</p>
                    </td>					
                </tr>		
            </tbody>
        </table>   
    </div>
</div>
